{:deps {:aliases [:cljs]}
 :dev-http {8280 "resources/public"}
 :builds {:app {:target :browser
                ;; :js-options {:js-provider :closure} ;; this will make optimizations to node_modules, but need to test if that works - many things won't work
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:app {:init-fn app.core/init}}
                ;; :devtools {:preloads [day8.re-frame-10x.preload]}
                :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled?        true
                                                           day8.re-frame.tracing.trace-enabled? true}
                                         :externs ["datascript/externs.js"]}}
                :release {:compiler-options {:externs ["datascript/externs.js"]
                                             :optimizations :advanced}
                          :closure-defines {app.env/URL "/"}}}}}
